<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.museum.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.yy.museum.entity.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="sex" column="sex" />
        <result property="nickname" column="nickname" />
        <result property="address" column="address" />
        <result property="online" column="online" />
        <result property="score" column="score" />
    </resultMap>

    <select id="getInfo" resultMap="userResultMap">
        select * from user
            where id = #{id}
    </select>

    <select id="getInfoByUsername" resultMap="userResultMap">
        select * from user where username = #{username}
    </select>

</mapper>
